# Data Analysis

## Solutions object
Obtain the Hidden Sector from: https://zenodo.org/record/5526707#.YzwIANJBzeQ and add the missing the column `Hidden Sector` of the following data scheme

![img](./squeme.svg)

### Example of entry

In [2]:
from IPython.display import JSON 
import pandas as pd

In [ ]:
JSON({'A':1})

In [ ]:
JSON(([{'l':[1,3],'k':[2],
       'solution':[1,2,-3,4,5],'gcd':1,'n':5,
      'hidden':[{'ψ':[(1,5),(2,4),(-3,)],
                 'S':6}
               ]
             }] 
            )
    )

In [3]:
import pandas as pd

In [ ]:
pd.DataFrame([{'l':[1,3],'k':[2],
       'solution':[1,2,-3,4,5],'gcd':1,'n':5,
      'hidden':[{'ψ':[(1,5),(2,4),(-3,)],
                 'S':6}
               ]
             }] 
            )

,l,k,solution,gcd,n,hidden
0,"[1, 3]",[2],"[1, 2, -3, 4, 5]",1,5,"[{'ψ': [(1, 5), (2, 4), (-3,)], 'S': 6}]"

### Read the full dataset

In [86]:
df=pd.read_json('https://zenodo.org/record/5526707/files/solutions.json?download=1')

In [87]:
df['zmax']=df['solution'].str[-1].abs()
df=df.sort_values(['n','zmax']).reset_index(drop=True)

#How many solutions with n=12 and z_max <= 20?
df[ (df['n']==12) & (df['zmax']<=20) ].shape

(16862, 6)

### Add the new column with the list of hidden sectors

In [ ]:
list(itertools.combinations_with_replacement([1,2],2))

[(1, 1), (1, 2), (2, 2)]

In [ ]:
l=[3, 5, -8, 9, -10, -14, 15]

In [5]:
import itertools
import math as mh
def get_hidden_sector(l):
    '''
    Extract massive pairs without massles fermions from l
    '''
    sltns=[]
    ps = list(set(itertools.combinations_with_replacement(l,2)))
    Ss = set(abs(sum(x)) for x in ps)
    # capture all the possible scalar, Ss, values
    for s in set(Ss):
        msv = [p for p in ps if abs(sum(p))==s]
            
        #msv=list(set(msv))
        # flatten the list
        lmsv=[x for sublist in msv for x in sublist]
        #SAFE Discard uneven Dirac pairs when the greater count is not Majorana and has wrong generation count
        if [(x,y) for x,y in msv if x!=y and 
                  ( (l.count(x)<l.count(y) and (abs(sum((y,y)))!=s and l.count(y)!=lmsv.count(y)) )  or
                    (l.count(x)>l.count(y) and (abs(sum((x,x)))!=s and l.count(x)!=lmsv.count(x)) )
            )]:
            continue
        # SPECIAL CASE: check for Dirac triplets 
        diracs=[x for x in l if abs(2*x)!=s]
        # Extract [x,y,z] Dirac triplets with z in the intersection → forming pairs (x,z) and (y,z)
        intersections= [list(set(list(p)+list(q)))  for p in msv for q in msv 
                                                if p!=q and set(p).intersection(set(q)) # [x,y,z] guaranteed
                                                and  set(list(p)+list(q)).issubset(set(diracs)) 
                                                ]
        intersection_triplets=[]
        [intersection_triplets.append([x,y,z]) for x,y,z in intersections 
           if [x,y,z] not in intersection_triplets and diracs.count(x)==diracs.count(y)==diracs.count(z)]
        # Extract Dirac doublets with z in the intersection →  (x,z) and (y,z) but with (w,x), etc.
        intersection_doblets=[p for p in msv for triplet in intersection_triplets if set(triplet).intersection(set(p)) ]
        # Rank 2 triplet: For each [x,y,z] with z in the intersection: only (x,z) and (y,z) are in msv
        if len(intersection_triplets)>0 and len(intersection_doblets)/len(intersection_triplets)==2:
            continue

        massives=set(lmsv)        
        massless=set(l).difference(massives)
        if not massless:
            sltn={}
            sltn['S']=s
            #Save storage
            sltn['ψ']=msv
            sltns.append(sltn)
            
    return sltns

assert get_hidden_sector([1,2,-3,4,5])[0].get('S')==6
assert get_hidden_sector([1,2,-3,-3,4,5])[0].get('S')==6
assert get_hidden_sector([1,1,2,-3,-3,4,5,5])[0].get('S')==6
#aψ1ψ1+bψ1ψ2+cψ1,ψ3 → https://www.wolframalpha.com/input?i=Rank%20{{a,b,c},{b,0,0},{c,0,0}}
assert get_hidden_sector([1,2,-3,4,5,9,9])==[]
get_hidden_sector([1,1,2,-3,4,5])
#aψ1ψ2+bψ1ψ3 → https://www.wolframalpha.com/input?i=rank+{{0,a,b},{a,0,0},{b,0,0}}
assert get_hidden_sector([1,1,2,-3,4,5])==[]
assert get_hidden_sector([1,1,2,-3,-3,4,5])==[]
assert get_hidden_sector([1,2,-3,4,5,8])==[]
assert get_hidden_sector([1,2,-3,4,5,8,8])==[]
assert get_hidden_sector([])==[]
assert get_hidden_sector([1, 1, 1, 1, 1, -2, -2, -2, -2, 3])==[]
assert get_hidden_sector([1, 2, 2, 2, -3, -5, -6, 7])[0].get('S')==4
assert get_hidden_sector( [1, 2, 2, 4, -5, -5, -7, 8] )[0].get('S')==3
# Ana test
assert get_hidden_sector([2, -3, -4, 5, -6, 7, 7, -8])[0].get('S')==1
assert get_hidden_sector([3, 5, -8, 9, -10, -14, 15])==[] # Dirac triplet [-10,5,15] (s=5)
assert get_hidden_sector([3, 5, -8, 9, -10, -14, 15, 20,-30, 35])==[]

In [ ]:
get_hidden_sector([1,2,-3,-3,4,5])

[{'S': 6, 'ψ': [(2, 4), (1, 5), (-3, -3)]}]

In [82]:
def extract_pairs_from_list(lst,pairs):
    '''
    Given a list of pairs from lst, extract ALL elements from lst which are not in intersections
    [(1, -2), (-3, 4)], [ 1,-2,-3, 4] → [-3,4],[(-3,4)]
    [(1, -2), (-2, 3)], [ 1,-2,3 ] → [], [3] # some of the intersection is left out
    '''
    if not lst or not pairs:
        return lst,pairs
    x,y=pairs[0]
    # Remove all only if:
    if lst.count(x)==lst.count(y):
        [lst.remove(x) for i in range(lst.count(x)) if x in lst]
        [lst.remove(y) for i in range(lst.count(y)) if y in lst]
    else:
        lst.remove(x),lst.remove(y)
    # Remove intersections (mixings)
    pairs=[(x,y) for x,y in pairs if x in lst  and y in lst]
    #print('→',(x,y),lst,pairs)
    return lst,pairs
assert extract_pairs_from_list([ 1,-2,3 ],[(1, -2), (-2, 3)])[0]==[3]
lst,pairs=extract_pairs_from_list([ 1,-2, -3, 4],[(1, -2), (-3, 4)])
assert extract_pairs_from_list(lst,pairs)[0]==[]
assert extract_pairs_from_list([-3,-3,-3],[(-3, -3)])[0]==[]
assert extract_pairs_from_list([],[(-3, -3)])[0]==[]

In [51]:
extract_pairs_from_list([],[(-3, -3)])

([(-3, -3)], [])

In [91]:
import itertools
import math as mh
def get_hidden_sector(l):
    '''
    Extract massive pairs without massles fermions from l
    '''
    sltns=[]
    ps = list(set(itertools.combinations_with_replacement(l,2)))
    Ss = set(abs(sum(x)) for x in ps)
    for s in Ss:
        #s=d.get('S')#list(Ss)[0]
        msv = [p for p in ps if abs(sum(p))==s]
        lmsv=[x for sublist in msv for x in sublist]
        massives=set(lmsv)        
        massless=set(l).difference(massives)
        if not massless:
            # ========= Quality check ===========
            lp=l.copy()
            #---- odds ------
            msv_odd=[x for x in msv if x[0]!=x[1]]
            imax=len(msv_odd)
            i=0
            while len(msv_odd)>0:
                lp,msv_odd=extract_pairs_from_list(lp,msv_odd)
                if i>imax:
                    # Emergency exit
                    break
                i+=1
            #---- evens ------
            msv_even=[x for x in msv if x[0]==x[1]] # and abs(sum(x))==s
            imax=len(msv_even)
            i=0
            while len(msv_even)>0:
                lp,msv_even=extract_pairs_from_list(lp,msv_even)
                if i>imax:
                    # Emergency exit
                    break
                i+=1
            if lp:
                continue # Not a hidden sector
            # =================================
            sltn={}
            sltn['S']=s
            #Save storage
            sltn['ψ']=msv
            sltns.append(sltn)
    return sltns

assert get_hidden_sector([1,2,-3,4,5])[0].get('S')==6
assert get_hidden_sector([1,2,-3,-3,4,5])[0].get('S')==6
assert get_hidden_sector([1,1,2,-3,-3,4,5,5])[0].get('S')==6
#aψ1ψ1+bψ1ψ2+cψ1,ψ3 → https://www.wolframalpha.com/input?i=Rank%20{{a,b,c},{b,0,0},{c,0,0}}
assert get_hidden_sector([1,2,-3,4,5,9,9])==[]
get_hidden_sector([1,1,2,-3,4,5])
#aψ1ψ2+bψ1ψ3 → https://www.wolframalpha.com/input?i=rank+{{0,a,b},{a,0,0},{b,0,0}}
assert get_hidden_sector([1,1,2,-3,4,5])==[]
assert get_hidden_sector([1,1,2,-3,-3,4,5])==[]
assert get_hidden_sector([1,2,-3,4,5,8])==[]
assert get_hidden_sector([1,2,-3,4,5,8,8])==[]
assert get_hidden_sector([])==[]
assert get_hidden_sector([1, 1, 1, 1, 1, -2, -2, -2, -2, 3])==[]
assert get_hidden_sector([1, 2, 2, 2, -3, -5, -6, 7])[0].get('S')==4
assert get_hidden_sector( [1, 2, 2, 4, -5, -5, -7, 8] )[0].get('S')==3
# Ana test
assert get_hidden_sector([2, -3, -4, 5, -6, 7, 7, -8])[0].get('S')==1
assert get_hidden_sector([3, 5, -8, 9, -10, -14, 15])==[] # Dirac triplet [-10,5,15] (s=5)
assert get_hidden_sector([3, 5, -8, 9, -10, -14, 15, 20,-30, 35])==[]

In [79]:
get_hidden_sector([1,2,-3,4,5,9,9])

[{'S': 6, 'ψ': [(-3, -3), (-3, 9), (2, 4), (1, 5)]}]

In [75]:
extract_pairs_from_list

{5, 10, 20, 30}

In [88]:
%%time
df['hidden']=df['solution'].apply(get_hidden_sector)

CPU times: user 2min 8s, sys: 0 ns, total: 2min 8s
Wall time: 2min 8s

In [89]:
hs=df[df['hidden'].apply(len)>0].reset_index(drop=True)#.iloc[0].to_dict()

In [90]:
hs.shape #8857 solutions with hidden sector

(8733, 7)

In [ ]:
def get_hidden_sector(l):

    com = list(itertools.combinations_with_replacement(l, 2))
    suma = set([abs(sum(i)) for i in com])

    final = []

    for s in suma:
        cond = [i for i in com if abs(sum(i)) == s]
        aplanar = [item for sublist in cond for item in sublist]
        resta = set(l).difference(set(aplanar))

        if not resta:
            l_ = l.copy()
            cond_ = cond
            N = len(l)

            combs = []

            equal = [par for par in cond_ if par[0] == par[1]]

            for par in equal:
                ind = []
                for val in par:
                    try:
                        ind.append(l_.index(val))
                    except:
                        pass
                for ind_ in ind:
                    l_[ind_] = 0

                if len(set(ind)) == 1:
                    N = N - 1
                elif len(set(ind)) != 1:
                    N = N - len(set(ind))

                combs.append(par)

            ind_eq = [cond.index(eq) for eq in equal]
            for ind in ind_eq:
                cond_.pop(ind)

            for par in cond_:
                try:
                    for val in par:
                        l_[l_.index(val)] = 0
                    N = N - 2
                    combs.append(par)
                except:
                    pass
                    # print("Discharge pair", par)

            if N == 0:
                final.append({"S": s, "ψ": combs})

            del l_, cond_

    return final

In [ ]:
get_hidden_sector([3, 5, -8, 9, -10, -14, 15] )

[]

In [ ]:
%%time
df['hidden']=df['solution'].apply(get_hidden_sector)

CPU times: user 1min 54s, sys: 0 ns, total: 1min 54s
Wall time: 1min 54s

In [ ]:
hs2=df[df['hidden'].apply(len)>0].reset_index(drop=True)#.iloc[0].to_dict()
hs2.shape

(8379, 7)

In [ ]:
hs['ss']  = hs['solution'].apply(str)
hs2['ss'] = hs2['solution'].apply(str)

In [ ]:
pd.set_option('display.max_colwidth',200)

In [ ]:
tmp=hs[['ss','hidden']].merge(hs2[['ss','hidden']],on='ss',how='left',suffixes=('_1','_2'))

In [ ]:
from matplotlib.cbook import to_filehandle


print( tmp[tmp['hidden_2'].apply(lambda x: False if isinstance(x,list) else True )][:50][["ss",'hidden_1']
].to_json(orient='records',lines=True).replace('\\u03c8','psi').replace('_1','').replace('ss','solution'))

{"solution":"[1, 2, 2, 2, -3, -5, -6, 7]","hidden":[{"S":4,"psi":[[2,2],[-3,7],[1,-5],[2,-6]]}]}
{"solution":"[1, 2, 3, 5, -6, -6, -9, 10]","hidden":[{"S":4,"psi":[[-6,10],[2,2],[1,3],[5,-9],[2,-6]]}]}
{"solution":"[1, -3, -5, -6, 7, 8, 8, -10]","hidden":[{"S":2,"psi":[[1,-3],[8,-10],[-5,7],[-6,8],[1,1]]}]}
{"solution":"[1, -3, -4, 6, -9, 10, 11, -12]","hidden":[{"S":2,"psi":[[10,-12],[1,-3],[-9,11],[-4,6],[1,1]]}]}
{"solution":"[1, 3, 4, 5, -6, -9, -10, 12]","hidden":[{"S":6,"psi":[[4,-10],[3,-9],[3,3],[-6,12],[1,5]]}]}
{"solution":"[3, 3, 3, 5, -7, -9, -11, 13]","hidden":[{"S":6,"psi":[[5,-11],[3,-9],[3,3],[-7,13]]}]}
{"solution":"[1, 3, 4, 6, -7, -8, -13, 14]","hidden":[{"S":7,"psi":[[3,4],[6,-13],[1,6],[-7,14],[1,-8]]}]}
{"solution":"[1, -3, -9, -9, 11, 11, 13, -15]","hidden":[{"S":2,"psi":[[1,-3],[-9,11],[13,-15],[1,1]]}]}
{"solution":"[2, -6, -6, -9, 10, 11, 13, -15]","hidden":[{"S":4,"psi":[[-6,10],[2,2],[-9,13],[11,-15],[2,-6]]}]}
{"solution":"[1, -4, -5, 7, -10, 13, 14, -16]","hidden":[{"S":9,"psi":[[-4,-5],[-4,13],[1,-10],[-5,14],[7,-16]]}]}
{"solution":"[3, 4, 5, 5, -8, -12, -13, 16]","hidden":[{"S":8,"psi":[[-8,16],[5,-13],[3,5],[4,4],[4,-12]]}]}
{"solution":"[1, -3, -7, 9, -13, 15, 15, -17]","hidden":[{"S":2,"psi":[[1,-3],[15,-17],[-13,15],[1,1],[-7,9]]}]}
{"solution":"[2, 4, 5, 7, -8, -13, -14, 17]","hidden":[{"S":9,"psi":[[5,-14],[4,-13],[4,5],[2,7],[-8,17]]}]}
{"solution":"[2, 3, 5, -6, 7, -14, -15, 18]","hidden":[{"S":12,"psi":[[5,7],[3,-15],[-6,-6],[2,-14],[-6,18]]}]}
{"solution":"[2, -5, -6, 9, -14, 15, 18, -19]","hidden":[{"S":4,"psi":[[-5,9],[15,-19],[2,2],[-14,18],[2,-6]]}]}
{"solution":"[1, -6, -6, -6, 7, 11, 18, -19]","hidden":[{"S":12,"psi":[[-6,-6],[-6,18],[1,11],[7,-19]]}]}
{"solution":"[3, 5, 5, 7, -9, -15, -15, 19]","hidden":[{"S":10,"psi":[[3,7],[5,-15],[-9,19],[5,5]]}]}
{"solution":"[2, -5, -7, 9, -13, 16, 18, -20]","hidden":[{"S":11,"psi":[[2,-13],[9,-20],[-5,16],[2,9],[-7,18]]}]}
{"solution":"[1, -3, -12, -13, 14, 15, 18, -20]","hidden":[{"S":2,"psi":[[1,-3],[18,-20],[-12,14],[-13,15],[1,1]]}]}
{"solution":"[3, -7, -9, -12, 13, 14, 18, -20]","hidden":[{"S":6,"psi":[[3,-9],[3,3],[-12,18],[-7,13],[14,-20]]}]}
{"solution":"[3, 4, 7, 8, -10, -15, -18, 21]","hidden":[{"S":11,"psi":[[-10,21],[7,-18],[4,7],[3,8],[4,-15]]}]}
{"solution":"[2, 3, 4, -7, 12, -17, -18, 21]","hidden":[{"S":14,"psi":[[-7,-7],[2,12],[3,-17],[4,-18],[-7,21]]}]}
{"solution":"[1, -4, -6, 7, -10, 13, 20, -21]","hidden":[{"S":14,"psi":[[7,7],[7,-21],[-4,-10],[-6,20],[1,13]]}]}
{"solution":"[1, -3, -9, 10, -12, 14, 20, -21]","hidden":[{"S":11,"psi":[[10,-21],[1,-12],[-9,20],[-3,14],[1,10]]}]}
{"solution":"[4, 5, 6, 7, -10, -16, -17, 21]","hidden":[{"S":11,"psi":[[5,6],[-10,21],[6,-17],[5,-16],[4,7]]}]}
{"solution":"[2, -6, -9, 13, -14, 17, 18, -21]","hidden":[{"S":4,"psi":[[2,2],[-14,18],[-9,13],[2,-6],[17,-21]]}]}
{"solution":"[3, 3, 5, -7, 9, -17, -17, 21]","hidden":[{"S":14,"psi":[[-7,-7],[5,9],[3,-17],[-7,21]]}]}
{"solution":"[2, 3, 4, -9, 14, -15, -20, 21]","hidden":[{"S":6,"psi":[[3,-9],[3,3],[2,4],[-15,21],[14,-20]]}]}
{"solution":"[4, 4, 4, 11, -12, -13, -19, 21]","hidden":[{"S":8,"psi":[[11,-19],[-13,21],[4,4],[4,-12]]}]}
{"solution":"[1, -5, -10, -11, 12, 15, 20, -22]","hidden":[{"S":10,"psi":[[-5,15],[12,-22],[-5,-5],[-10,20],[1,-11]]}]}
{"solution":"[1, -3, -10, 12, -17, 19, 20, -22]","hidden":[{"S":2,"psi":[[1,-3],[-17,19],[-10,12],[1,1],[20,-22]]}]}
{"solution":"[3, 5, 6, 9, -10, -17, -18, 22]","hidden":[{"S":12,"psi":[[-10,22],[3,9],[5,-17],[6,-18],[6,6]]}]}
{"solution":"[4, 5, 6, 10, -13, -15, -20, 23]","hidden":[{"S":10,"psi":[[-13,23],[4,6],[5,-15],[10,-20],[5,5]]}]}
{"solution":"[1, -7, -7, 11, -13, 19, 19, -23]","hidden":[{"S":12,"psi":[[11,-23],[1,-13],[1,11],[-7,19]]}]}
{"solution":"[5, 5, 7, 7, -11, -17, -19, 23]","hidden":[{"S":12,"psi":[[5,7],[-11,23],[7,-19],[5,-17]]}]}
{"solution":"[4, -9, -12, -12, 15, 17, 20, -23]","hidden":[{"S":8,"psi":[[-9,17],[15,-23],[4,4],[-12,20],[4,-12]]}]}
{"solution":"[1, -3, -10, 11, -14, 16, 23, -24]","hidden":[{"S":13,"psi":[[-3,-10],[11,-24],[-10,23],[1,-14],[-3,16]]}]}
{"solution":"[3, 4, 5, -8, 11, -19, -20, 24]","hidden":[{"S":16,"psi":[[-8,-8],[3,-19],[4,-20],[-8,24],[5,11]]}]}
{"solution":"[1, -3, -6, 8, -21, 22, 23, -24]","hidden":[{"S":2,"psi":[[1,-3],[22,-24],[-6,8],[-21,23],[1,1]]}]}
{"solution":"[1, -4, -9, 12, -15, 16, 23, -24]","hidden":[{"S":8,"psi":[[-15,23],[1,-9],[16,-24],[-4,12],[-4,-4]]}]}
{"solution":"[1, -4, -8, 9, -12, 15, 24, -25]","hidden":[{"S":16,"psi":[[-8,-8],[1,15],[-4,-12],[-8,24],[9,-25]]}]}
{"solution":"[2, -6, -14, -15, 18, 19, 21, -25]","hidden":[{"S":4,"psi":[[2,2],[-14,18],[-15,19],[21,-25],[2,-6]]}]}
{"solution":"[3, -9, -11, -15, 17, 19, 21, -25]","hidden":[{"S":6,"psi":[[-11,17],[3,-9],[19,-25],[3,3],[-15,21]]}]}
{"solution":"[4, -8, -12, -15, 16, 17, 23, -25]","hidden":[{"S":8,"psi":[[-15,23],[-8,16],[17,-25],[4,4],[4,-12]]}]}
{"solution":"[5, 6, 7, 8, -12, -18, -21, 25]","hidden":[{"S":13,"psi":[[8,-21],[-12,25],[5,-18],[6,7],[5,8]]}]}
{"solution":"[2, 3, 10, 11, -12, -16, -23, 25]","hidden":[{"S":13,"psi":[[3,10],[-12,25],[2,11],[3,-16],[10,-23]]}]}
{"solution":"[3, -6, -9, 12, -19, 20, 25, -26]","hidden":[{"S":6,"psi":[[20,-26],[-19,25],[3,-9],[3,3],[-6,12]]}]}
{"solution":"[5, 6, 7, 9, -12, -20, -21, 26]","hidden":[{"S":14,"psi":[[7,7],[5,9],[6,-20],[7,-21],[-12,26]]}]}
{"solution":"[1, -3, -9, 11, -22, 24, 24, -26]","hidden":[{"S":2,"psi":[[1,-3],[-9,11],[24,-26],[1,1],[-22,24]]}]}
{"solution":"[3, 4, 8, -11, 12, -19, -24, 27]","hidden":[{"S":16,"psi":[[4,12],[8,8],[3,-19],[-11,27],[8,-24]]}]}

## Ask question to the solutions object

* Test the solution
* Which is the minimum hidden sector and with the least charge in absolute value
* Check for multigenerational solution
* Check for unconditional stability
* Solutions with active symmetry
* How many solutions with n=12 and zmax<=20
* Check for Majorana and Dirac fermions

In [ ]:
pd.set_option('display.max_colwidth',200)

In [ ]:
# What is the minimum n?
hs['n'].min()

7

In [ ]:
# What is the minimum z_max?
hs['zmax'].min()

6

In [ ]:
hs[hs['zmax']==hs['zmax'].min()]

,l,k,solution,gcd,n,zmax,hidden
2,"[-1, -5, -3]","[-6, -4, -7]","[1, 1, 2, 3, -4, -4, -5, 6]",1,8,6,"[{'S': 2, 'ψ': [(3, -5), (2, -4), (-4, 6), (1, 1)]}]"
2295,"[-1, 0, -1, 0, 1]","[-3, -2, -3, -2, 2]","[1, -2, -2, -2, 3, 3, 4, 4, -5, -5, -5, 6]",1,12,6,"[{'S': 7, 'ψ': [(3, 4), (1, 6), (-2, -5)]}]"

In [ ]:
hs[:3]

,l,k,solution,gcd,n,zmax,hidden
0,"[-2, 0]","[-1, -2, -3]","[3, 5, -8, 9, -10, -14, 15]",1,7,15,"[{'S': 5, 'ψ': [(9, -14), (-10, 15), (5, -10), (3, -8)]}]"
1,"[2, 0]","[-1, -2, -3]","[5, 6, 7, -10, -11, -12, 15]",1,7,15,"[{'S': 5, 'ψ': [(-10, 15), (7, -12), (6, -11), (5, -10)]}]"
2,"[-1, -5, -3]","[-6, -4, -7]","[1, 1, 2, 3, -4, -4, -5, 6]",1,8,6,"[{'S': 2, 'ψ': [(3, -5), (2, -4), (-4, 6), (1, 1)]}]"

In [ ]:
# How many solutions have several dark sectors?
hs[hs['hidden'].apply(len)>1].shape

(1194, 7)

In [ ]:
hs[hs['hidden'].apply(len)>2].shape

(0, 7)

In [ ]:
# What is the minimum number of DM particles?
hs['hidden'].str[0].str['ψ'].apply(len).min()

3

In [ ]:
hs[hs['hidden'].str[0].str['ψ'].apply(len)==hs['hidden'].str[0].str['ψ'].apply(len).min()][:1]

,l,k,solution,gcd,n,zmax,hidden
4,"[-1, 0, 1]","[-4, -2, 2]","[1, -2, -2, 4, 5, -7, -7, 8]",1,8,8,"[{'S': 9, 'ψ': [(4, 5), (1, 8), (-2, -7)]}]"

### Same questions for SM solutions

In [ ]:
df3=df[df['solution'].apply(lambda l: 3 in [l.count(x) for x in l])].reset_index(drop=True)

In [ ]:
def get_dark(l,idx=0):
    #TODO,
    xxx=list(set([x for x in l if l.count(x)==3]))
    if len(xxx)>=idx+1:
        xx=xxx[idx]
        return [x for x in l if x!=xx]
    else:
        return []
assert get_dark([1,1,2,2,2,3] )==[1, 1, 3]
assert get_dark([2,2,2,2,-5,-5,-5,7])==[2, 2, 2, 2, 7]

In [ ]:
df3['hidden']=df3['solution'].apply(get_dark).apply(get_hidden_sector)

In [ ]:
hs3=df3[df3['hidden'].apply(len)>0].reset_index(drop=True)
hs3.shape

(138, 7)

In [ ]:
# idxmax==1
df3['hidden']=df3['solution'].apply(lambda l: get_dark(l,idx=1)).apply(get_hidden_sector)
hs3=pd.concat((hs3,df3[df3['hidden'].apply(len)>0])).reset_index(drop=True)
hs3.shape

(143, 7)

In [ ]:
# idxmax==1
df3['hidden']=df3['solution'].apply(lambda l: get_dark(l,idx=2)).apply(get_hidden_sector)
hs3=pd.concat((hs3,df3[df3['hidden'].apply(len)>0])).reset_index(drop=True)
hs3.shape

(143, 7)

In [ ]:
hs3['zmax'].min()

8

In [ ]:
hs3[:1]

,l,k,solution,gcd,n,zmax,hidden
0,"[1, 0, -2]","[-3, -1, 1]","[3, 3, 3, 5, -7, -9, -11, 13]",2,8,13,"[{'S': 18, 'ψ': [(-7, -11), (-9, -9), (5, 13)]}]"

In [ ]:
hs3[hs3['hidden'].apply(len)>1].shape

(4, 7)

In [ ]:
hs3[hs3['hidden'].apply(len)>2].shape

(2, 7)

In [ ]:
hs3[hs3['hidden'].apply(len)>3].shape

(0, 7)

In [ ]:
hs3['hidden'].str[0].str['ψ'].apply(len).min()

2

In [ ]:
hs3[hs3['hidden'].str[0].str['ψ'].apply(len)==hs3['hidden'].str[0].str['ψ'].apply(len).min()]

,l,k,solution,gcd,n,zmax,hidden
4,"[-2, 0, 2]","[-1, 1, 0, -1]","[1, 1, -4, -5, 9, 9, 9, -10, -10]",1,9,10,"[{'S': 9, 'ψ': [(1, -10), (-4, -5)]}]"
6,"[-1, 0, 1]","[-1, -3, 0, -1]","[1, 1, -3, -8, 11, 11, 11, -12, -12]",1,9,12,"[{'S': 11, 'ψ': [(1, -12), (-3, -8)]}]"
8,"[-1, 0, -1, 1]","[-3, 0, -1, 0]","[4, -5, -5, -6, -6, 11, 11, 11, -15]",1,9,15,"[{'S': 11, 'ψ': [(-5, -6), (4, -15)]}]"
16,"[-1, 0, 1]","[-1, -5, 0, 5]","[2, 2, -3, 15, 15, -17, -17, -17, 20]",3,9,20,"[{'S': 17, 'ψ': [(-3, 20), (2, 15)]}]"
18,"[-1, 0, -1, 1]","[-3, 0, -3, 0]","[2, 2, -7, -12, 19, 19, 19, -21, -21]",1,9,21,"[{'S': 19, 'ψ': [(-7, -12), (2, -21)]}]"
19,"[-1, 0, 1]","[-1, 1, 0, -7]","[3, 3, -4, 14, 14, -17, -17, -17, 21]",3,9,21,"[{'S': 17, 'ψ': [(-4, 21), (3, 14)]}]"
24,"[1, 0, 1, -1]","[-3, 0, -3, 0]","[4, 4, -5, 15, 15, -19, -19, -19, 24]",1,9,24,"[{'S': 19, 'ψ': [(4, 15), (-5, 24)]}]"

### Extend the data scheme with number of generations

In [ ]:
def get_Dirac_and_Majorana_generations(l,h):
    g=[]
    dgmax=0
    mgmax=0
    for idx in range(len(h)):
        for x,y in h[idx].get('ψ'):
            if x!=y and l.count(x)>dgmax and l.count(y)==l.count(x):
                    dgmax=l.count(x)
            if x==y and l.count(x)>mgmax:
                    mgmax=l.count(x)
        g.append({'DG':dgmax,'MG':mgmax})
    return g
l=[2, 2, -3, 15, 15, -17, -17, -17, 20]
h=[{'S': 17, 'ψ': [(2, 15), (20, -3)]}]
assert get_Dirac_and_Majorana_generations(l,h)==[{'DG': 2, 'MG': 0}]

In [ ]:
hs['Generations']=hs.apply(lambda row: get_Dirac_and_Majorana_generations(row['solution'],row['hidden']),axis='columns')

In [ ]:
hs3['Generations']=hs3.apply(lambda row: get_Dirac_and_Majorana_generations(row['solution'],row['hidden']),axis='columns')

In [ ]:
hs['Gmax']=-hs['Generations'].str[0].apply(lambda d: sum(d.values()))

In [ ]:
hs=hs.sort_values(['n','Gmax']).reset_index(drop=True)

In [ ]:
hs[hs['n']==7]

,l,k,solution,gcd,n,zmax,hidden,Generations,Gmax
0,"[-2, 0]","[-1, -2, -3]","[3, 5, -8, 9, -10, -14, 15]",1,7,15,"[{'S': 5, 'ψ': [(9, -14), (-10, 15), (5, -10), (3, -8)]}]","[{'DG': 1, 'MG': 0}]",-1
1,"[2, 0]","[-1, -2, -3]","[5, 6, 7, -10, -11, -12, 15]",1,7,15,"[{'S': 5, 'ψ': [(-10, 15), (7, -12), (6, -11), (5, -10)]}]","[{'DG': 1, 'MG': 0}]",-1

In [ ]:
hs[hs['n']==8][:6]

,l,k,solution,gcd,n,zmax,hidden,Generations,Gmax
2,"[-1, 2, -2]","[-7, 4, 0]","[1, 2, 2, 2, -3, -5, -6, 7]",1,8,7,"[{'S': 4, 'ψ': [(2, 2), (-3, 7), (1, -5), (2, -6)]}]","[{'DG': 1, 'MG': 3}]",-4
3,"[1, 0, -2]","[-3, -1, 1]","[3, 3, 3, 5, -7, -9, -11, 13]",2,8,13,"[{'S': 6, 'ψ': [(5, -11), (3, -9), (3, 3), (-7, 13)]}]","[{'DG': 1, 'MG': 3}]",-4
4,"[0, -1, -2]","[-1, -6, -5, -6]","[1, -6, -6, -6, 7, 11, 18, -19]",2,8,19,"[{'S': 12, 'ψ': [(-6, -6), (-6, 18), (1, 11), (7, -19)]}]","[{'DG': 1, 'MG': 3}]",-4
5,"[-3, -4, -3]","[-5, 3, -7]","[3, 5, 5, 7, -9, -15, -15, 19]",2,8,19,"[{'S': 10, 'ψ': [(3, 7), (5, -15), (-9, 19), (5, 5)]}]","[{'DG': 2, 'MG': 2}]",-4
6,"[3, 0, -5]","[-1, 1, -1]","[4, 4, 4, 11, -12, -13, -19, 21]",8,8,21,"[{'S': 8, 'ψ': [(11, -19), (-13, 21), (4, 4), (4, -12)]}]","[{'DG': 1, 'MG': 3}]",-4
7,"[0, -2, 0]","[-3, -1, 1, -1]","[5, 5, 5, -15, 19, -21, -29, 31]",2,8,31,"[{'S': 10, 'ψ': [(-21, 31), (5, -15), (19, -29), (5, 5)]}]","[{'DG': 1, 'MG': 3}]",-4

In [ ]:
hs[hs['n']==9][:3]

,l,k,solution,gcd,n,zmax,hidden,Generations,Gmax
1761,"[-2, 0, 1, 3]","[-1, 0, -1, 3]","[1, 1, 2, 2, -6, 9, -10, -12, 13]",1,9,13,"[{'S': 3, 'ψ': [(-10, 13), (-6, 9), (1, 2), (9, -12)]}]","[{'DG': 2, 'MG': 0}]",-2
1762,"[1, 2, 0, -1]","[-5, 2, 0, -5]","[3, -8, 10, 10, 11, -15, -15, -16, 20]",1,9,20,"[{'S': 5, 'ψ': [(10, -15), (-15, 20), (11, -16), (3, -8)]}]","[{'DG': 2, 'MG': 0}]",-2
1763,"[-2, 3, 2]","[-3, -8, -2, 1]","[1, 4, -10, -10, -12, 15, 15, 17, -20]",6,9,20,"[{'S': 5, 'ψ': [(-10, 15), (15, -20), (-12, 17), (1, 4)]}]","[{'DG': 2, 'MG': 0}]",-2

In [ ]:
hs[hs['n']==11][:4]

,l,k,solution,gcd,n,zmax,hidden,Generations,Gmax
1778,"[-2, -1, -2, -1, 3]","[-3, -1, 2, -1, 3]","[1, 1, 1, 1, -3, 5, -6, 8, -9, -10, 11]",2,11,11,"[{'S': 2, 'ψ': [(1, -3), (-9, 11), (8, -10), (-3, 5), (-6, 8), (1, 1)]}]","[{'DG': 1, 'MG': 4}]",-5
1779,"[-4, 1, 0, 4]","[-1, -3, 1, 0, 2]","[1, 4, 4, 4, 4, -8, -9, 16, -17, -24, 25]",4,11,25,"[{'S': 8, 'ψ': [(1, -9), (-8, 16), (-17, 25), (16, -24), (4, 4)]}]","[{'DG': 1, 'MG': 4}]",-5
1780,"[-1, 0, 1, 0, 2]","[-3, -2, -1, -2, 0]","[1, 1, -2, -2, 4, 4, -6, 7, -8, -9, 10]",2,11,10,"[{'S': 2, 'ψ': [(4, -6), (-8, 10), (-2, 4), (7, -9), (1, 1)]}]","[{'DG': 2, 'MG': 2}]",-4
1781,"[-2, 1, 0, -1]","[-2, -4, -2, 1, 2]","[1, -2, -2, -4, -5, 6, 6, -7, 8, 11, -12]",1,11,12,"[{'S': 4, 'ψ': [(8, -12), (-7, 11), (-2, -2), (-2, 6), (1, -5), (-4, 8)]}]","[{'DG': 2, 'MG': 2}]",-4

In [ ]:
hs[hs['n']==12][:4]

,l,k,solution,gcd,n,zmax,hidden,Generations,Gmax
2295,"[1, 0, -2, 0, -2]","[-3, -1, 1, -1, 1]","[1, 1, 7, 7, 7, 7, 7, -11, -15, -15, -21, 25]",2,12,25,"[{'S': 14, 'ψ': [(1, -15), (7, 7), (-11, 25), (7, -21)]}]","[{'DG': 2, 'MG': 5}]",-7
2296,"[-1, 0, -3, 0, -1]","[-1, 1, -1, -3, -1]","[5, 5, 7, 7, 7, 7, 7, -15, -19, -19, -21, 29]",2,12,29,"[{'S': 14, 'ψ': [(-15, 29), (7, 7), (7, -21), (5, -19)]}]","[{'DG': 2, 'MG': 5}]",-7
2297,"[2, 0, -1, 0, 1]","[-3, -2, -3, -2, -1]","[1, -2, -2, -3, 4, 4, 4, 4, -5, -6, -6, 7]",2,12,7,"[{'S': 8, 'ψ': [(-2, -6), (-3, -5), (4, 4), (1, 7)]}]","[{'DG': 2, 'MG': 4}]",-6
2298,"[-1, 1, -2, -1, 1]","[-2, 0, -1, -3, 0]","[1, 1, 1, 1, 1, 2, -3, -4, 5, -6, -7, 8]",1,12,8,"[{'S': 2, 'ψ': [(1, -3), (2, -4), (-3, 5), (5, -7), (-6, 8), (1, 1)]}]","[{'DG': 1, 'MG': 5}]",-6

In [ ]:
hs3['Gmax']=-hs3['Generations'].str[0].apply(lambda d: sum(d.values()))
hs3=hs3.sort_values(['n','Gmax']).reset_index(drop=True)

In [ ]:
hs3[hs3['n']==8][:1]

,l,k,solution,gcd,n,zmax,hidden,Generations,Gmax
0,"[1, 0, -2]","[-3, -1, 1]","[3, 3, 3, 5, -7, -9, -11, 13]",2,8,13,"[{'S': 18, 'ψ': [(-7, -11), (-9, -9), (5, 13)]}]","[{'DG': 1, 'MG': 1}]",-2

In [ ]:
hs3[hs3['n']==9][:4]

,l,k,solution,gcd,n,zmax,hidden,Generations,Gmax
3,"[-2, -1, 0]","[-1, -3, -5, -3]","[5, 6, 6, 6, -8, -9, -9, -10, 13]",2,9,13,"[{'S': 18, 'ψ': [(-9, -9), (-8, -10), (5, 13)]}]","[{'DG': 1, 'MG': 2}]",-3
4,"[1, -2, -1]","[-4, -9, -5, -3]","[1, -2, 6, 6, 6, -9, -9, -16, 17]",6,9,17,"[{'S': 18, 'ψ': [(-9, -9), (1, 17), (-2, -16)]}]","[{'DG': 1, 'MG': 2}]",-3
5,"[-2, 0, 2]","[-1, 1, 0, -1]","[1, 1, -4, -5, 9, 9, 9, -10, -10]",1,9,10,"[{'S': 9, 'ψ': [(1, -10), (-4, -5)]}]","[{'DG': 2, 'MG': 0}]",-2
6,"[2, -2, 1, 3]","[-5, -4, -3, -1]","[1, -2, -2, -2, 5, -7, 8, 9, -10]",1,9,10,"[{'S': 2, 'ψ': [(8, -10), (5, -7), (1, 1), (-7, 9)]}]","[{'DG': 1, 'MG': 1}]",-2

In [ ]:
hs3[hs3['n']==10][:5]

,l,k,solution,gcd,n,zmax,hidden,Generations,Gmax
44,"[1, 0, -2, -1]","[-3, -1, -3, -5]","[1, 1, -3, -3, -3, 7, -9, 11, 11, -13]",2,10,13,"[{'S': 2, 'ψ': [(-9, 11), (7, -9), (1, 1), (11, -13)]}]","[{'DG': 1, 'MG': 2}]",-3
45,"[-4, -1, 0, 1]","[-4, 1, -1, -3, 1]","[1, 1, 1, 2, 2, -7, 11, -12, -15, 16]",3,10,16,"[{'S': 4, 'ψ': [(-12, 16), (2, 2), (-7, 11), (11, -15)]}]","[{'DG': 1, 'MG': 2}]",-3
46,"[-3, 3, 0, -6]","[-3, -2, 3, 4]","[3, 3, 3, -4, 9, 9, -10, -14, -27, 28]",18,10,28,"[{'S': 18, 'ψ': [(-10, 28), (-4, -14), (9, -27), (9, 9)]}]","[{'DG': 1, 'MG': 2}]",-3
47,"[-1, 0, -4, -3]","[-3, 1, -1, -5]","[1, -3, -3, -3, -9, -9, 11, 17, 27, -29]",2,10,29,"[{'S': 18, 'ψ': [(-9, 27), (11, -29), (1, 17), (-9, -9)]}]","[{'DG': 1, 'MG': 2}]",-3
48,"[0, 1, 0, -2]","[-1, -3, 3, -1, -3]","[1, -5, -7, 9, -11, -13, 15, 15, 15, -19]",4,10,19,"[{'S': 18, 'ψ': [(-5, -13), (1, -19), (-7, -11), (9, 9)]}]","[{'DG': 1, 'MG': 1}]",-2

In [ ]:
hs3[hs3['n']==11][:2]

,l,k,solution,gcd,n,zmax,hidden,Generations,Gmax
67,"[2, -1, 2, -1]","[-2, -1, -2, 2, 4]","[4, 5, 8, -9, -9, 10, -12, -12, -12, 13, 14]",1,11,14,"[{'S': 18, 'ψ': [(5, 13), (4, 14), (-9, -9), (8, 10)]}]","[{'DG': 1, 'MG': 2}]",-3
68,"[2, 3, 0, -3, 3]","[0, -3, 1, -1, -3]","[1, 1, -2, -3, 6, 6, 6, -7, -10, -10, 12]",15,11,12,"[{'S': 9, 'ψ': [(-3, 12), (1, -10), (-2, -7)]}]","[{'DG': 2, 'MG': 0}]",-2

In [ ]:
hs3[hs3['n']==12][:5]

,l,k,solution,gcd,n,zmax,hidden,Generations,Gmax
86,"[1, -3, -2, 0, -1]","[-3, -1, -3, -1, -3]","[1, 1, 3, 3, 3, 5, 5, -7, -9, -9, -9, 13]",2,12,13,"[{'S': 6, 'ψ': [(1, 5), (3, 3), (-7, 13), (1, -7)]}]","[{'DG': 2, 'MG': 3}]",-5
87,"[1, 0, 2, 0, 2]","[-3, -1, -3, -1, -3]","[7, 9, 9, 9, 11, -13, -13, -27, -27, -27, 31, 31]",2,12,31,"[{'S': 18, 'ψ': [(9, 9), (7, 11), (-13, 31)]}]","[{'DG': 2, 'MG': 3}]",-5
88,"[-2, -3, -2, -3, 2]","[-2, -1, -3, -1, 1]","[1, 1, -2, -2, -2, 6, 6, 7, -8, -8, -9, 10]",4,12,10,"[{'S': 2, 'ψ': [(-8, 10), (6, -8), (7, -9), (1, 1)]}]","[{'DG': 2, 'MG': 2}]",-4
89,"[-3, -1, -2, 3, -3]","[-3, -2, -3, -2, 0]","[3, 3, 3, 6, 7, -8, -9, -9, -9, -10, 11, 12]",19,12,12,"[{'S': 18, 'ψ': [(6, 12), (-9, -9), (-8, -10), (7, 11)]}]","[{'DG': 1, 'MG': 3}]",-4
90,"[-3, -1, 2, 0, -3]","[-3, -2, -1, -2, -3]","[3, 4, -8, -9, -9, -9, -10, 14, 15, 15, 15, -21]",12,12,21,"[{'S': 18, 'ψ': [(3, -21), (4, 14), (-9, -9), (-8, -10)]}]","[{'DG': 1, 'MG': 3}]",-4