In [1]:
import pandas as pd

In [14]:
df=pd.read_json('solution_5.json')

In [15]:
df

       l         k                      z  gcd
0   [-6]  [10, -8]   [5, 6, -12, -21, 22]  960
1   [-3]   [-1, 5]   [5, 8, -14, -26, 27]    3
2    [3]   [-6, 9]      [1, 5, -7, -8, 9]  486
3    [4]   [2, 10]   [7, 9, -20, -22, 26]   32
4   [-3]   [-2, 8]     [2, 4, -7, -9, 10]   44
5    [3]   [-6, 8]  [1, 14, -17, -18, 20]  180
6    [1]   [-3, 2]   [4, 9, -14, -25, 26]    6
7    [5]   [-4, 9]  [7, 13, -25, -27, 32]   36
8   [-5]   [3, -7]   [7, 8, -18, -22, 25]   15
9   [10]    [8, 3]  [2, 18, -23, -25, 28]   80
10  [-1]   [-3, 1]  [5, 11, -18, -26, 28]    3
11  [-8]  [-10, 2]   [7, 8, -17, -25, 27]  160

In [11]:
df['z'].apply(lambda x: sum(map(lambda x: x**3,x))  )

0    0
1    0
2    0
3    0
Name: z, dtype: int64